.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 20px 40px;
    background-color: #f3f4ed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header-container p {
    color: #424642;
    opacity: 0.7;
    font-size: 12px;
}

.header-container h3 {
    color: #424642;
}

.title-container {
    display: flex;
    flex-direction: row;
}