*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-family: 'Play', sans-serif;
}

input,
button,
textarea,
select {
    font: inherit;
}

.main-container {
    background-color: #f3f4ed;
    opacity: 1;
    background-image: radial-gradient(#536162 0.6000000000000001px, #f3f4ed 0.6000000000000001px);
    background-size: 10px 10px;
    height: 100vh;
}