.action-bar-container {
    padding: 0 20px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background-color: #f3f4ed;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #c06014 0, #c06014 0.6000000000000001px, #f3f4ed 0, #f3f4ed 50%);
}

.action-button {
    margin-left: 10px;
    font-size: 12px;
    border: 1px solid #c06014;
    border-radius: 6px;
    background-color: #f3f4ed;
    color: #c06014;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.action-button:hover {
    background-color: #c06014;
    color: #f3f4ed;
}

.template-select {
    padding: 2px 6px;
    font-size: 12px;
    border: 1px solid #c06014;
    border-radius: 6px;
    -webkit-appearance: none;
    background-color: #f3f4ed;
    color: #c06014;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.template-select:hover {
    background-color: #c06014;
    color: #f3f4ed;
}